<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResturantSu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ResturantWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
            <div class="container-fluid">
                <!-- logo -->
                <div class="navbar-brand mx-auto order-0">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/LogoSu.png" alt="RestaurantSU" height="60">
                    </a>
                </div>
                <!-- Hamburger button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <!-- Navigation likns -->
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 mt-xxl-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light hover-gold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>   <!-- maybe i need a hover effect in css -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hover-gold" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hover-gold book-button" asp-area="" asp-controller="Book" asp-action="Index">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hover-gold" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hover-gold" asp-area="" asp-controller="Admin" asp-action="Login">Login</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-success text-white text-center text-lg-start" style="padding: 2rem 0;">
        <div class="contact-info d-flex flex-column align-items-center">
            <h5 class="text-uppercase">Contact Us</h5>
            <p>Email: restaurantsu@gmail.com</p>
            <p>Phone: +123 456 789</p>
        </div>

        <div class="text-center p-3 company-name" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 RestaurantSu
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


